* {
    margin: 0;
    box-sizing: border-box;
    outline: none;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    background-color: #f3f5f4;
}

.container {
    width: 100%;
    max-width: 1200px;
}

.header {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 12vh;
    width: 100vw;
    background-color: #003e63;
    color: #f3f5f4;
}

.header-content {
    display: flex;
    justify-content: space-between;
}

.logo {
    height: 10vh;
    width: 10vh;
    fill: yellow;
    background-size: cover;
    background-image: url(../svg/dice/rolling-dices.svg);
}
.title {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 6vh;
}

.game-board {
    display: flex;
    flex-grow: 1;
    width: 100%;
}

.score-board {
    padding: 7vh 4.5vh;
    width: 30%;
    background-color: #009ddc;
}

.score-board-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    border: 1px black solid;
    background-color: #f3f5f4; 
    box-shadow: 0px 0px 5px 1px rgba(90,90,90,1);
    overflow: hidden;
}

.score-board-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 5%;
    width: 100%;
    border-bottom: black solid 2px;
}

.score-board-item:last-child {
    border-bottom: none;
}

.score-board-item-description {
    padding-right: 5px;
    min-width: 100px;
    width: 100%;
    font-size: 1.8vh;
    overflow: hidden;
}

.score-board-item-subtotal > .score-board-item-description {
    text-align: right;
    font-weight: 700;
}

.score-board-item-subtotal > .score-board-item-button {
    font-weight: 700;
}

.score-board-item-subtotal > .score-board-item-button:hover {
    background-color: white;
    cursor: auto;
}

.score-board-item-button {
    padding: 1% 4%;
    width: 32%;
    height: 100%;
    border: none;
    border-left: black solid 2px;
    background: none;
    background-color: white;
    font-size: 1.8vh;
    color: #fbb273;
    text-align: center;
    cursor: pointer;
}

.score-board-item-button:hover {
    transition: background-color 300ms ease-out;
    background-color: #fbb273;
}

.scored {
    color: black;
}

.dice-board {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 70%;
    background-color:#d7e9f1;
}

.dice-board-container {
    display: flex;
    margin-top: 7vh;
    width: 70%;
    border: 1px black solid;
    background-color: #f3f5f4; 
    box-shadow: 0px 0px 5px 1px rgba(90,90,90,1);
}

.roll-button-container {
    display: flex;
    justify-content: center;
    margin-top: 30px;
    width: 100%;
}

.roll-button {
    width: 25%;
    border: 1px black solid;
    padding: 1.2%;
    background-color: #009ddc; 
    font-size: 1.2vw;
    font-weight: 700;
    box-shadow: 0px 0px 5px 1px rgba(90,90,90,1);
    cursor: pointer;
}

.roll-button:hover {
    transition: background-color 300ms ease-out;
    background-color: #fbb273; 
}

.dice-board-info {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 15vh;
    padding: 2%;
}

.dice-board-info-heading {
    font-size: 1.3vw;
    padding-bottom: 1.5%;
}

.dice-board-info-subheading {
    font-size: 1.1vw;
}

.footer {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 10vh;
    width: 100vw;
    background-color: #003e63;
    color: #f3f5f4;
}

.copyright-tag-wrapper {
    display: flex;
    flex-direction: row-reverse;
}

@media only screen and (max-width: 1199px) {
    .header, .footer {
        padding: 0 40px;
    }
  }
